 * {
     padding: 0;
     margin: 0;
 }

 ul,
 li {
     list-style: none;
 }

 a {
     color: inherit;
     text-decoration: none;
 }

 body {
     font-family: 'Baloo Bhai 2', cursive;
     color: $black;
 }

.main {
    margin: 55px 80px 0px 200px;
    display: flex;
}

.main__left {
    width: 550px;
    display: flex;
    flex-direction: column;
}


