 * {
     padding: 0;
     margin: 0;
 }

 ul,
 li {
     list-style: none;
 }

 a {
     color: inherit;
     text-decoration: none;
 }

 body {
     font-family: 'Baloo Bhai 2', cursive;
     color: $black;
 }

.main {
    margin: 55px 10px 0px 180px;
    display: flex;
    justify-content: space-between;
}

.main__left {
    width: 550px;
    display: flex;
    flex-direction: column;
}

.main__right {
    width: 450px;
    display: flex;
    flex-direction: column;
}


